<!DOCTYPE html>
<html>
    <head>
        <%- include(`${viewsfolder}/components/meta`) %>
        <%- include(`${viewsfolder}/components/font`) %>
        <title>Infinite Chess | Home - The Official Website</title>
        <link rel='stylesheet' href='/css/SKELETON.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
    <body>
        <%- include(`${viewsfolder}/components/header`, {t:t, languages:languages, language:language}) %>
        <main>
            <div id="content">
                <h1 class="center">Skeleton</h1>
            </div>
        </main>
        <footer>
            <a href="mailto:infinitechess.org@gmail.com">Contact us.</a>
            <a href="/termsofservice">Terms of Service</a>
        </footer>
    </body>
</html>