node_modules
.env
.vscode
.vs
cert
# Old json data storage "database"
/database
# New database using SQLite
database.db
logs
dist

# JetBrains IDEs
.idea/

# PNPM
pnpm-lock.yaml

# Hidden mac file storing attributes of the directory
.DS_Store