{% extends "layout.njk" %}

{% set pageName = "400 Bad Request" %}

{% block body %}
{% include "components/header/header.njk" %}
<main></main>
{% include "components/footer/footer.njk" %}
{% endblock %}
