<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Create Account</title>
        <link rel='stylesheet' href='/css/createaccount.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
        <script defer src="/scripts/createaccount.js"></script>
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p>Home</p>
                </a>
                <a href="/play">
                    <p>Play</p>
                </a>
                <a href="./news">
                    <p>News</p>
                </a>
                <a href="./login">
                    <p>Log In</p>
                </a>
                <a href="./createaccount">
                    <p class="currPage">Create Account</p>
                </a>
            </nav>
        </header>
        <main>
            <div id="content">
                <h1 class="center">Create Account</h1>
                <form action="./createaccount" method="POST" class="center" id="form">
                    <div class="formfield">
                        <div id="usernameinputline">
                            <label for="username">Username:</label>
                            <input id="username" type="text" name="username" required minLength="3" maxLength="20" autocomplete="off" autofocus>
                        </div>
                        <!-- This is where our script inserts an error division! -->
                        <div id="emailinputline">
                            <div class="line">
                            <label for="email">Email:</label>
                            <input id="email" type="email" name="email" required minLength="3" maxLength="318" autocomplete="off">
                            </div>
                        </div>
                        <div id="passwordinputline">
                            <div class="line">
                            <label for="password">Password:</label>
                            <input id="password" type="password" name="password" required minLength="6" maxLength="40">
                            </div>
                        </div>
                        
                    </div>
                    <input type="submit" value="Create Account" class="unavailable" id="submit">
                    <p class="agreement">I agree to the <a href="/termsofservice" class="agreement" target="_blank">Terms of Service</a></p>
                </form>
            </div>
        </main>
        <footer>
            <a href="mailto:infinitechess.org@gmail.com">Contact us.</a>
            <a href="/termsofservice">Terms of Service</a>
            <a href="https://github.com/Infinite-Chess/infinitechess.org">Source Code</a>
        </footer>
    </body>
</html>