<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Credits</title>
        <link rel='stylesheet' href='/css/credits.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p>Home</p>
                </a>
                <a href="/play">
                    <p>Play</p>
                </a>
                <a href="./news">
                    <p>News</p>
                </a>
                <a href="./login" id="loginlink">
                    <p id="logintext">Log In</p>
                </a>
                <a href="./createaccount" id="createaccountlink">
                    <p id="createaccounttext">Create Account</p>
                </a>
                <script src="/scripts/memberHeader.js"></script>
            </nav>
        </header>
        <main>
            <div id="content">
                <h1 class="center">Credits</h1>
                <p class="center" style="margin-bottom:3em">Anything on the website that is not listed below is copyright of www.InfiniteChess.org</p>
                
                <h2>Variants</h2>
                <p>Core designed by Andreas Tsevas.</p>
                <p>Space designed by Andreas Tsevas.</p>
                <p>Space Classic designed by Andreas Tsevas.</p>
                <p>Coaip (Chess on an Infinite Plane) designed by Vickalan.</p>
                <p>Pawn Horde designed by Inaccessible Cardinal.</p>
                <p>Abundance designed by Clicktuck Suskriberz.</p>
                <p><a href="https://math.colgate.edu/~integers/og2/og2.pdf" target="_blank">Omega</a> designed by Cory Evans and Joel Hamkins.</p>
                <p><a href="https://chess.stackexchange.com/questions/42480/checkmate-in-%cf%89%c2%b2-moves-with-finitely-many-pieces" target="_blank">Omega^2</a> designed by Andreas Tsevas.</p>
                <p><a href="https://math.colgate.edu/~integers/og2/og2.pdf" target="_blank">Omega^3</a> designed by Cory Evans and Joel Hamkins.</p>
                <p><a href="https://math.colgate.edu/~integers/rg4/rg4.pdf" target="_blank">Omega^4</a> designed by Cory Evans, Joel Hamkins, and Norman Lewis Perlmutter.</p>

                <h2>Textures</h2>
                <p><a target="_blank" href="https://commons.wikimedia.org/wiki/Category:SVG_chess_pieces">Cburnett</a> textures licensed under the <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons Attribution-Share Alike 3.0 Unported License</a>.</p>
                <p><a target="_blank" href="https://greenchess.net/info.php?item=downloads">Green Chess</a> textures licensed under the <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">Creative Commons Attribution-Share Alike 3.0</a></p>
                <p><a target="_blank" href="https://github.com/pychess/pychess/blob/master/LICENSE">Pychess</a> textures licensed under the <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License</a></p>
                <p>Gold coin by Quolte.</p>

                <h2>Sounds</h2>
                <p>Some sounds are provided by the <a href="https://github.com/lichess-org/lila/blob/master/COPYING.md" target="_blank">Lichess-org Lila</a> project under the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html" target="_blank">GNU Affero General Public License</a>.</p>
                <p>Other sounds created by Naviary.</p>

                <h2>Code</h2>
                <p><a target="_blank" href="https://www.lcg.ufrj.br/WebGL/hws.edu-examples/doc-bump/gl-matrix.js.html">High Performance Matrix & Vector Operations</a> by Brandon Jones and Colin MacKenzie IV.</p>
                <p><a target="_blank" href="https://github.com/tsevasa/infinite-chess-notation">Infinite Chess Notation Converter</a> by Andreas Tsevas and Naviary.</p>
            </div>
        </main>
        <footer>
            <a href="mailto:infinitechess.org@gmail.com">Contact us.</a>
            <a href="/termsofservice">Terms of Service</a>
        </footer>
    </body>
</html>