<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Terms of Service</title>
        <link rel='stylesheet' href='/css/termsofservice.css'>
        <link rel="icon" type="image/png" href="/img/favicon.png">
    </head>
    <body>
        <header>
            <nav>
                <a href="/">
                    <p>Home</p>
                </a>
                <a href="/play">
                    <p>Play</p>
                </a>
                <a href="./news">
                    <p>News</p>
                </a>
                <a href="./login" id="loginlink">
                    <p id="logintext">Log In</p>
                </a>
                <a href="./createaccount" id="createaccountlink">
                    <p id="createaccounttext">Create Account</p>
                </a>
                <script src="/scripts/memberHeader.js"></script>
            </nav>
        </header>
        <main>
            <div id="content">
                <h1 class="center">Terms of Service</h1>
                <p class="center" style="margin-bottom:3em">By using this site, you agree to abide by the following terms. If you do not agree, you must immediately stop using the site.</p>
                <ul>
                    <li>
                        <p>If you are under 18, you must receive consent from a parent or legal guardian to use this site and to create an account.</p>
                    </li>
                </ul>
                <h2>Parents:</h2>
                <p>There is an algorithm in place for prohibiting users setting their name to common cuss words. At this time there is no method of communication between members on the site.</p>
                <p>Currently, members cannot set their own profile picture. There is a plan to allow this feature. At that time we will do our best to prevent innapropriate profile pictures.</p>

                <h2>Fair Play</h2>
                <p>You cannot create more than 1 account. If you would like to change the email address associated with your account, <a href="mailto:infinitechess.org@gmail.com">contact us.</a></p>
                <p>To keep play fun and fair for everyone, you must NOT:</p>
                <ul>
                    <li><p>Modify or manipulate the code in any way, including but not limited to: Using console commands, local overrides, custom scripts, modifying http requests, etc. This can be done to intentionally break the game, or to give you an advantage.</p></li>
                    <li><p>In rated games, receive help/advice from another person or program as to what you should play. (Creating an engine is ok and encouraged, but you must limit its use to unrated games)</p></li>
                    <li><p>Trade elo points with other people by purposefully losing with intent to boost the elo of your opponent, or by receiving elo points from an opponent that intends to lose to boost your own rating. This abuses the system and creates unaccurate ratings according to your level of skill.</p></li>
                </ul>

                <h2>Cleanliness</h2>
                <p>In all your language on the site, you must remain clean, no vulgarity or cursing. You cannot bully, harass, or threaten anyone, or do anything that is illegal. You cannot spam other users or forums.</p>
                <p>You cannot not upload imagery to your profile that is innapropriate, suggestive, or gory. Doing so may result in a ban or termination of your account.</p>

                <h2>Privacy</h2>
                <p>Currently, the only personal information we collect is email. This is with intent to verify users' accounts, and provide a means of proving who they are when they request a password reset or account termination. We do not send any promotional emails or offers. We do not share any user's email address with anyone else.</p>
                <p>InfiniteChess.org may collect data about your usage on the site, including your ip address. This is intended to help prevent attacks from bots and other unwanted entities, and to keep accurate statistics in the database. This is NOT your home address.</p>
                <p>While InfiniteChess.org will strive to keep everyone's account and personal information safe to the best of our ability, in the event of a hack or data leak, you may not press charges on us. If a data leak ever happens, users will be notified on the <a href="/news">News</a> page.</p>
                <p>There is no content available on the site for purchase. Any other personal information is not collected.</p>
                
                <h2>Cookie Policy</h2>
                <p>This site uses cookies, which are small text files that are stored in your browser, and sent to the server when connections are made. The purpose of these cookies are to: Validate your login session, validate your browser belongs to the chess game it says it's in, and to store user game preferences so they can keep their preferences when they re-visit the site. The site does not use 3rd-party cookies, cookies are not shared with external parties.</p>
                <p>Cookies are required for this site and game to function correctly. If you do not want the site to store cookies, you must stop using the site. You can navigate to your browsers preferences to delete existing cookies. By continuing to use this site, you are consenting to the use of cookies.</p>
                
                <h2>Conclusion</h2>
                <p>Any violations of these terms may result in a ban or termination of your account. InfiniteChess.org wants to be able to give everyone the opportunity to play and have fun! But, we reserve the right to, at any time, ban or terminate the accounts of any users, for reasons that need not to be disclosed. Charges may not be pressed against us.</p>
                <p>You may not copy or distribute anything on the site. Doing so is a violation of copyright law.</p>
                <p>We cannot guarantee the site will be running 100% of the time. We also cannot guarantee that data will never be corrupted.</p>
                <p>You may not perform any illegal activity on the site.</p>
                <p>If you have any questions regarding these terms, or any other question about the site, <a href="mailto:infinitechess.org@gmail.com">email us!</a></p>
                <p class="grey">(Last updated: 6/9/23. Added a cookie policy.)</p>
                <h3>Thank you!</h3>
            </div>
        </main>
        <footer>
            <a href="mailto:infinitechess.org@gmail.com">Contact us.</a>
            <!-- <a href="/termsofservice">Terms of Service</a> -->
                        <a href="https://github.com/Infinite-Chess/infinitechess.org">Source Code</a>
        </footer>
    </body>
</html>