{% extends "layout.njk" %}

{% block title %}About — Infinite Chess{% endblock %}

{% block body %}
{% include "components/header/header.njk" %}
<main></main>
{% include "components/footer/footer.njk" %}
{% endblock %}
