{% extends "layout.njk" %}

{% block title %}Infinite Chess{% endblock %}

{% block body %}
<main>
    {# Delete when the page is redesigned. This is just proof the page is visitable. #}
    <h1>Infinite Chess</h1>
</main>
{% endblock %}

{% block script %}
{# Delete when the page is redesigned. This is just proof the page can load a script entry point. #}
<script type="module" src="{{ manifest['scripts/esm/views/index'] }}"></script>
{% endblock %}
