{% extends "layout.njk" %}

{% block title %}Infinite Chess{% endblock %}

{% block body %}
<main>
    <h1>Infinite Chess</h1>
</main>
{% endblock %}

{% block script %}
<script type="module" src="{{ manifest['scripts/esm/views/index'] }}"></script>
{% endblock %}
