{% extends "layout.njk" %}

{% set pageName = "Privacy Policy" %}

{% block body %}
{% include "components/header/header.njk" %}
<main></main>
{% include "components/footer/footer.njk" %}
{% endblock %}
