* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    border: 0;
    /* Enable temporarily during dev to see the borders of all elements */
    /* outline: 1px solid rgba(0, 0, 0, 0.191); */
}

html {
    height: 100%;
    background-color: rgb(33, 33, 33);
}



header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 1px 5px rgb(107, 107, 107);
    height: 40px;
    font-size: 0;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    background-color: white;
    z-index: 1;
}

header a {
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    margin-left: 4px;
    min-width: 70px;
    font-size: 16px;
    color: black;
}

header a:hover {
    background-color: rgb(211, 235, 255);
}

header p {
    padding: 0 10px;
}

main {
    background-color: #fff;
    /* Using PNG because it was the smallest after compression */
    background-image: url('/img/blank_board.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;

    margin-top: 40px;
    min-height: 400px;
}

#content {
    background-color: rgba(255, 255, 255, 0.805);
    min-height: 450px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.522);
    padding: 30px 20px;
}

#content h1 {
    font-size: 40px;
    font-family: georgia;
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 25px;
    margin-top: 1.5em;
}

h3 { /* Thank you! */
    font-size: 18px;
    text-align: center;
    font-weight: normal;
}

#content p {
    line-height: 1.5;
    font-size: 16px;
    margin: 10px 0px;
}


a {
    color: black;
}

.grey {
    color:rgba(0, 0, 0, 0.345)
}

.center {
    text-align: center;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.099);
}

.visibility-hidden {
    visibility: hidden;
}



/* Start increasing header links width */
@media only screen and (min-width: 450px) {

    #content h1 {
        font-size: calc(40px + 0.028 * (100vw - 450px));
    }
}

/* Cap content width size, revealing image on the sides */
@media only screen and (min-width: 810px) {
    #content {
        max-width: calc(810px - 60px); /* 60px less than 810 to account for padding */
        padding: 40px 30px;
        min-height: 800px;
    }

    #content h1 {
        font-size: 50px;
        margin-bottom: 50px;
    }
}
