footer {
    text-align: center;
    padding: 10px 0;
}

footer a {
    display: inline-block;
    color: rgb(207, 207, 207);
    margin: 10px 10px;
    text-decoration: underline;
}

footer label {
    font-size: 16px;
    color: rgb(207, 207, 207);
    margin: 10px 2px 10px 10px;
}

footer select {
    width: min-content;
    color: rgb(207, 207, 207);
    font-size: 1em;
    background-color: rgba(0,0,0,0);
    margin: 10px 10px 10px 0px;
    cursor: pointer;
}