#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--vh-sub-nav);
    backdrop-filter: brightness(1.05);
}

h1, h2, h3 {
    margin-block: 32px 16px;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

p {
    margin-block: 16px;
    font-size: 16px;
}

#hero .container {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 1024px;
    margin: auto;
}

#hero .text {
    width: 50%;
}

#hero .text h1, p {
    margin: 0 0 16px;
}

section {
    background-color: white;
    color: black;
    width: 100%;
    box-sizing: border-box;
    padding: 64px 0;
}

.reading {
    width: 1024px;
    margin: auto;
}

.patreon-container p {
    text-align: center;
    font-size: 18px;
    background-color: rgb(244, 244, 244);
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
    transition: all 250ms;
    margin: 10px 10px;
    cursor: default;
}

.patreon-container p:hover {
    letter-spacing: 0.5em;
}

.IM {
    font-weight: bold;
}