.logo {
    text-align: center;
    margin-bottom: 40px;
}

.logo h1 {
    display: inline-block;
    vertical-align: bottom;
    font-size: 40px;
    font-family: georgia;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.318);
}

.logo img {
    display: inline-block;
    vertical-align: bottom;
    display: none;
    width: 70px;
}

.logo p {
    margin-top: 15px;
}

iframe {
    --videoWidth: 85vw;
    width: var(--videoWidth);
    height: calc(var(--videoWidth) * 9/16);
}

#content h2 {
    font-size: 30px;
    margin: 35px 0 20px;
}

#content h3 {
    font-size: 25px;
    margin: 35px 0 20px;
}

#content p {
    line-height: 1.5;
    font-size: 17px;
    margin: 20px 0px;
}

.patreon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content .patreon-container p {
    font-size: 18px;
    background-color: rgb(244, 244, 244);
    padding: 0.5em 0.8em;
    border-radius: 0.5em;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.325);
    /* text-shadow: 0 2px 3px rgba(0, 0, 0, 0.16); */
    transition: box-shadow 0.25s, transform 0.25s;
    margin: 10px 10px;
    cursor: default;
}

#content .patreon-container p:hover {
    transform: translate(0%, 0%) scale(1.1);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.54);
}

.IM {
    color: rgb(0, 38, 255);
    font-weight: bold;
    font-size: 0.9em;
    text-shadow: -2px 0px 0.6em rgba(0, 38, 255, 0.2);
}

/* Reveal pictures in logo */
@media only screen and (min-width: 480px) {
    .logo img {
        display: unset;
        width: calc(70px + 0.09 * (100vw - 475px));
    }

    .logo h1 {
        font-size: calc(40px + 0.059 * (100vw - 475px));
    }
}

/* Cap content width size */
@media only screen and (min-width: 810px) {
    .logo h1 {
        font-size: 60px;
    }

    .logo img {
        width: 100px;
    }

    iframe {
        width: 700px;
        height: 394px;
    }
}
