.formfield {
    width: fit-content;
    text-align: right;
    margin: auto;
    line-height: 2.2em;
}

#usernameinputline {
    text-align: center;
}

#passwordinputline {
    margin-top: 12px;
    display: inline-block;
    text-align: center;
    width: fit-content;
}

label {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 2px;
}

input {
    border: 0;
    border-radius: 4px;
    padding: 0.4em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.63);
    font-size: 15px;
    width: 180px;
}

input:focus {
    outline: solid 1px black;
}

input[type='text']:hover, input[type='password']:hover {
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

div.error {
    font-size: 16px;
    text-align: center;
    color: red;
    margin-top: 1.0em;
    line-height: 1em;
}

.forgothidden {
    display: none;
}

.forgotvisible {
    display: block;
    font-size: 13px;
    margin-top: 0.5em;
}

input[type='submit'] {
    height: 30px;
    min-width: 0;
    width: fit-content;
    height: fit-content;
    background-color: white;
    font-size: 16px;
    transition: 0.1s;
    margin: 25px;
    outline: 0;
}

input[type='submit'].ready:hover {
    transition: 0.1s;
    font-size: 18px;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    margin: 23px;
}

input[type='submit'].ready:focus {
    outline: solid 1px black;
}

.currPage {
    background-color: rgb(236, 236, 236);
}

.unavailable {
    color: rgba(0, 0, 0, 0.199);
}



/* Start increasing header links width */
@media only screen and (min-width: 450px) {
    input {
        width: calc(180px + 0.15 * (100vw - 450px));
    }
}

/* Stop increasing header links width */
@media only screen and (min-width: 715px) {
    input {
        width: 220px;
    }
}