* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    border: 0;
    /* Enable temporarily during dev to see the borders of all elements */
    /* outline: 1px solid rgba(0, 0, 0, 0.145); */
}

html {
    height: 100%;
    background-color: rgb(33, 33, 33);
}



header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    box-shadow: 0px 1px 5px rgb(107, 107, 107);
    height: 40px;
    font-size: 0;
    overflow: scroll;
    white-space: nowrap;
    text-align: center;
    background-color: white;
    z-index: 1;
}

header a {
    display: inline-block;
    text-decoration: none;
    line-height: 40px;
    margin-left: 4px;
    min-width: 70px;
    font-size: 16px;
    color: black;
}

header a:hover {
    background-color: rgb(211, 235, 255);
}

header p {
    padding: 0 10px;
}



main {
    background-image: url('/img/blank_board.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;

    margin-top: 40px;
    min-height: 400px;
}

#content {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.805);
    min-height: 450px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.522);
    padding: 30px 20px;
    text-align: center;
}

#verifyerror h2 {
    font-size: 16px;
}

#verifyerror p {
    font-size: 11px;
    margin-top: 0.5em;
    margin-bottom: 20px;
}

#verifyconfirm {
    font-size: 16px;
    margin-bottom: 20px;
}

#content a {
    color: rgb(0, 0, 0);
}

#sendemail:hover {
    cursor:pointer;
}

.member, section {
    background-color: rgba(238, 238, 238, 0.655);
    border-radius: 6px;
    border: solid 1px rgba(0, 0, 0, 0.123);
    margin-bottom: 20px;
    padding: 12px;
    position: relative;
}

.member {
    white-space: nowrap;
    text-align: left;
}

.member img {
    display: inline-block;
    height: 100px;
    vertical-align: top;
    margin-right: 12px;
}

.member h1 {
    display: inline-block;
    font-size: 16px;
    font-family: georgia;
    line-height: 100px;
}

#stats {
    padding: 12px 12px;
}

#stats p {
    display: inline-block;
    margin: 0px 16px;
    line-height: 2em;
}

#content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
}

.action-button {
    margin-bottom: 20px;
    padding: 0.7em 1em;
    border-radius: 0.5em;
    background-color: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.502);
    transition: 0.15s;
}

.action-button:hover {
    padding: 0.8em 1.15em;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.799);
    cursor: pointer;
}

#delete-account {
    margin-bottom: 0;
    background-color: #fff1f1;
    color: red;
    font-weight: bold;
    border: 1.5px solid red;
    box-shadow: 0 0 8px rgba(148, 0, 0, 0.502);
}

#action-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(255, 211, 211, 0.799);
}

#show-account-info:active {
    box-shadow: 0 0 8px rgb(0, 0, 0);
}

#delete-account:active {
    background-color: #ffcaca;
}

#accountinfo {
    /* background-color: rgba(219, 219, 219, 0.655); */
    padding: 10px 16px 12px;
    text-align: left;
}

#accountinfo h6 {
    text-transform: uppercase;
    margin-bottom: 6px;
}

#change, #change a {
    font-size: 14px;
    color: rgb(69, 69, 69);
    margin-top: 20px;
}


.hidden {
    display: none;
}

.currPage {
    background-color: rgb(236, 236, 236);
}

.center {
    text-align: center;
}

.red {
    color: red;
}

.green {
    color: rgb(0, 162, 0);
}

.underline {
    text-decoration: underline;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.099);
}



/* Start increasing header links width */
@media only screen and (min-width: 450px) {
    header {
        overflow: unset;
    }

    header a {
        min-width: calc(70px + (100vw - 450px) * 0.15);
    }

    .member {
        padding: calc(12px + (100vw - 450px) * 0.05);
    }

    .member img {
        height: calc(100px + (100vw - 450px) * 0.165);
        margin-right: calc(12px + (100vw - 450px) * 0.05);
    }

    .member h1 {
        line-height: calc(100px + (100vw - 450px) * 0.165);
    }
}

/* Stop increasing header links width */
@media only screen and (min-width: 715px) {
    header a {
        min-width: 110px;
    }

    #verifyerror h2, #verifyconfirm {
        font-size: 20px;
    }
    
    #verifyerror p {
        font-size: 13px;
    }
}

/* Cap content width size, revealing image on the sides */
@media only screen and (min-width: 810px) {
    #content {
        max-width: calc(810px - 60px); /* 60px less than 810 to account for padding */
        padding: 40px 30px;
        min-height: calc(100vh - 182px);
    }

    .member {
        padding: 30px;
    }

    .member img {
        height: 160px;
        margin-right: 30px;
    }

    .member h1 {
        line-height: 160px;
    }
}