<footer>
    <a href="mailto:support@infinitechess.org"><%=t('footer.contact')%></a>
    <a href="/termsofservice?lng=<%= language %>"><%=t('footer.terms_of_service')%></a>
    <a href="https://github.com/Infinite-Chess/infinitechess.org" target="_blank"><%=t('footer.source_code')%></a>
</footer>