<footer>
    <a href="mailto:infinitechess.org@gmail.com"><%=t('footer.contact')%></a>
    <a href="/termsofservice" id="toslink"><%=t('footer.terms_of_service')%></a>
    <a href="https://github.com/Infinite-Chess/infinitechess.org" target="_blank"><%=t('footer.source_code')%></a>
</footer>